<div class="page-header container-fluid pt-5" style="text-align: center">
    <h1>SOBIE Registration</h1>
    <div class="alert alert-warning alert-dismissible fade show" style="margin: 0 25%" role="alert">
        <i class="bi bi-exclamation-diamond-fill"></i> This form will <b>not automatically</b> submit your information
        <b>or help with hotel accommodations.</b>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>