<nav id="navSobie" class="navbar fixed-top navbar-light bg-light navbar-expand-sm border-bottom">
 
	<span class="border-top border-bottom m-0 p-0 mt-2 "
		style="-webkit-transform:rotate(35deg); -moz-transform:rotate(35deg); transform:rotate(35deg); position: absolute; top: 0; right: 0">
		BETA
	</span>
	<!-- sobie logo -->	
	<a id="navSobieLogo" href="/" class="navbar-brand border-1 rounded-pill text-center my-2 mx-4 px-4 sobie-logo" href="#">
		<span class="fw-bold text-center" style="letter-spacing: .5em; ">
			S路O路B路I路E
		</span>
	</a>
	
		<span class="fs-6 text-start"><i>The Society of Business, Industry, & Economics</i></span>
	<!-- hamburger button -->
	<button class="navbar-toggler me-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
	</button>
	
	<!-- collapsible section start-->
	<div class="collapse navbar-collapse ms-2"  id="collapsibleNavbar">
  	
		<ul class="navbar-nav mx-auto">
			
			<!-- call24 link -->
			<li class="nav-item text-center">
				<a  class="nav-link text-dark" href="docs/resources/sobie-2022-proceedings-guidelines.pdf" target="_blank" role="button">
					<button id="navBtn" style="border: none; background-color: transparent;">Proceeding Guidelines</button>
				</a>
			</li>
			<!-- proceedings link -->
			<li class="nav-item text-center">
				<a class="nav-link text-dark" href="docs/resources/sobie-2024-call-for-papers.pdf" target="_blank" role="button">
					<button id="navBtn" style="border: none; background-color: transparent;">Call for Papers 2024</button>
				</a>
			</li>

			<!-- programs page link -->
			<li class="nav-item text-center">
				<a class="nav-link text-dark" href="/programs" role="button">
					<button id="navBtn" style="border: none; background-color: transparent;">Programs</button>
	            </a>
			</li>

			<!-- proceedings page link -->
			<li class="nav-item text-center">
				<a class="nav-link text-dark" href="/proceedings" role="button">
					<button id="navBtn" style="border: none; background-color: transparent;">Proceedings</button>
	            </a>
			</li>
				<!--admin portal login link-->
			<li class="nav-item text-center">
				<a class="nav-item text-center" href="/admin" role="button">
					<button id="navBtn" style="border: none; background-color: transparent;">Admin Portal</button></a>
			</li>
        </ul>
     
  </div> 
	<!-- end collabsible section -->
</nav>