<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobie Co</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('partials/navbar') %>
  <!-- Big opening card, this is where home page would be -->
  <div class="container mt-4">
    <div class="jumbotron">
      <h1 class="display-4">Mock Sobie Co Website</h1>
      <p class="lead">Here to test the functionality of login/admin privileges</p>
      <hr class="my-4">
      <p>Login or register to get started!</p>
      <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
      <a class="btn btn-success btn-lg" href="/register" role="button">Register</a>
    </div>
  </div>

  <%- include('partials/footer') %>
</body>
</html>