<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> SOBIE</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An Academic Society">
    <meta name="keywords"
        content="society,academic,business,academic society,organization,alabama,economics,industry,university of alabama,society of business">
    <meta name="classification" content="Academic">

    <!-- todo: fix favico -->
    <!-- <link rel="icon" type="image/x-icon" href="images/programs/favicon.ico"> 
  <link rel="shortcut icon" type="image/ico" href="images/programs/favicon.ico"/>  -->
    <link rel="apple-touch-icon" href="images/programs/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style-2013.css" />
</head>

<body class="container-fluid bg-light">

  
    <nav id="navSobie" class="navbar fixed-top navbar-light bg-light navbar-expand-sm border-bottom">

    
    <a id="navSobieLogo" class="navbar-brand border-1 rounded-pill text-center my-2 mx-4 px-4"
        style="border: solid 1px gray" href="#">
        <span class="fw-bold text-center" style="letter-spacing: .5em">S·O·B·I·E</span>
    </a>


    <button class="navbar-toggler me-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

   <div class="collapse navbar-collapse ms-2" id="collapsibleNavbar">
    <span class="fs-6 text-start">The Society of Business, Industry, & Economics</span>
    </div>
<!--       <ul class="navbar-nav mx-auto ">
            <li class="nav-item text-center">
                <a class="nav-link text-dark" href="#scheduleModal" data-bs-toggle="modal"
                    data-bs-target="#scheduleModal" role="button">
                    Conference Schedule</a>
            </li>

            <li class="nav-item text-center">
                <a class="nav-link text-dark" href="#scheduleModal" data-bs-toggle="modal"
                    data-bs-target="#scheduleModal" role="button">
                    Key Dates</a>
            </li>

            <li class="nav-item text-center">
              
                <a class="nav-link text-dark" href="#hotelTravelModal" data-bs-toggle="modal"
                    data-bs-target="#hotelTravelModal" role="button">
                    Hotel & Travel</a>
            </li>

            <li class="nav-item text-center">
                <a class="nav-link text-dark" href="pages/proceedings.html" role="button">
                    Conference Proceedings</a>
            </li>

            <li class="nav-item text-center">
                <a class="nav-link text-dark" href="pages/hotel-travel.html">Visit JOBIE</a>
            </li>

        </ul>
     
    </div> -->
</nav>


    <div class="alert alert-primary alert-dismissible fade show m-2 p-5" role="alert">
<h4 class="alert-heading"><i class="bi bi-info-circle-fill me-2"></i>Coming Soon!</h4>
  <p>The SOBIE Website is moving here; however, it is not quite finished.</p>
    <hr>
  <p class="mb-0">Please use the original <a href="https://www.una.edu/sobie">SOBIE Website</a> for now & we'll announce as soon as this one is all ready to go!
    <hr>
    <p class="mb-0">Thanks!<br>The SOBIE Team.</p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="row">
    <div class="col-md-12 mb-2">
        
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3 text-center my-auto mx-auto">
                <h5 class="m-2 mb-3 text-center">Wednesday, April 10 to Friday, April 12, 2024</h5>
            </div>  
            <div class="col-md-6 text-center my-3">
                
                <span class="fw-bold fs-2 text-center" style="letter-spacing: .5em">S·O·B·I·E</span><br>
                <span class="fs-3 text-center sobie-Script" style="letter-spacing: .2em">Annual Acadmeic Conference</span><br>
                <span class="fw-bold text-center fs-2" style="letter-spacing: .5em">2·0·2·4</span>
            </div>
            <div class="col-md-3 my-auto mx-auto">
                <h5 class="text-center">The Sandestin Golf & Resort in San Destin, Florida</h5>
            </div>
        </div>
    </div>
</div>

    </div>
    <div class="col-md-6 mb-2">
        <div class="card">
  <div class="card-body">
    <h2 class="card-title">Conference Hotel & Venue</h2>
    <div class="card-text">
    <ul>
      <li class="list-group-item border-0">
        <h4><a href="https://www.sandestin.com" target="_blank" class="fs-5">Sandestin Golf & Beach Resort</a>
        <i class="bi bi-box-arrow-up-right fs-6"></i></h4>
      </li>
      <li class="list-group-item border-0">Book your stay by <strong class="fs-5">March 1st</strong> to get the
        SOBIE discount</li>
      <li class="list-group-item border-0"><strong class="fs-5">SOBIE Discount Code</strong> Provided with Conference Registration Confirmation</li>
      <li class="list-group-item border-0">Discounted rates are available for the weekends <strong class="fs-5">before &
          after</strong> the SOBIE conference.</li>
      <li class="list-group-item border-0">Extend your stay and enjoy the Sandestin Area</li>
       </ul>
      <p class="text-center">
          <a href="#hotelTravelModal" class="btn btn-primary" role="button" data-bs-toggle="modal"
            data-bs-target="#hotelTravelModal">More Hotel & Travel...</a>
      </p>
    </div>
  
    
  </div>


</div>


<!--  hotelTravelModal -->
<div class="modal fade" id="hotelTravelModal" tabindex="-1" aria-labelledby="hotelTravelModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Hotel & Travel</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ">

        <!-- hotel card  -->

        <h2 class="card-title">Hotel Accommodations</h2>
        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
        <p class="card-text">
          <b>SOBIE</b> offers a variety of accommodations for you and your family.<!--, starting at
        <b>$161</b-->. Please make your hotel reservations separate from the conference registration, by
          <!-- TODO: update -->
          <b>Sunday, March 12, 2023</b>.
        </p>
        <p class="card-text">
          Make your hotel registration using the special <b>SOBIE</b> conference code: <b>24Q5QK</b>
        </p>
        <p class="card-text">
          <b>Sandestin Group Reservations:</b>
          <br />
          <!-- todo: review this link...always update?  -->
          <a href="https://www.sandestin.com/book-now?group=24Q5QK&checkin=04/11/2023&checkout=04/15/2023&rooms=1&adults=1#/room"
            target="_blank">https://www.sandestin.com/</a>
          <br />
          Phone: <a href="tel:+18003208115">800-320-8115</a>
          <br />
          Fax: 850-267-8221
        </p>
        <p class="card-text">
          As always, Sandestin has a variety of room types available at the popular Bayside, Luau, and Beachside
          locations, with rates beginning at $158 at Bayside. Contact Sandestin for rental rates of specific room types
          at the various locations.
        </p>
        <!-- end hotel card  -->

        <!-- airports card  -->
        <h2 class="card-title">Area Airports</h2>
        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
        <!-- todo: add in airport code, driving directions, g.map link -->
        <p class="card-text">
          Northwest Florida Beaches International Airport (Panama City; about 30 minutes east of Sandestin): <a
            href="https://www.iflybeaches.com/" target="flybeaches">https://www.iflybeaches.com/</a>
        </p>
        <p class="card-text">
          Destin-Fort Walton Beach Airport: <a href=" https://www.flyvps.com/"
            target="flyvps">https://www.flyvps.com/</a>
        </p>
        <p class="card-text">
          Pensacola International Airport: <a href="https://flypensacola.com/"
            target="flypensacola">https://flypensacola.com/</a>
        </p>
        <!-- end airports card -->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- end hotelTravelModal -->
    </div>
    <div class="col-md-6">
        <div class="card">
  <div class="card-body">
    <h2 class="card-title">Register for SOBIE</h2>
    <div class="card-text">
      <ul>
        <li class="list-group-item border-0">
          <h4 class="card-subtitle text-muted">Registrations opens December 2023</h4>
        </li>
        <li class="list-group-item border-0">Registration Fee is $325 (<strong class="fs-5">FREE</strong> for
    Students)</li>
        <li class="list-group-item border-0">Submit Abstracts, Working or Complete Papers 
          <a href="#" class="card-link"> (Reserach Areas)</a></li>
        <li class="list-group-item border-0"><a>Example Conference Schedule</a> & <a>Key Dates</a> </li>
      </ul>
    </div>
    <div class="card-text">
        <h4 class="card-subtitle text-muted">SOBIE for Students</h4>
        <div class="card-text">
          <ul>
            <li class="list-group-item border-0">No Conference Fee Conference (Registration Required), Student Reserach Awards (Cash Prizes), April 1st Research Submission Deadline, Submit Abstracts, Working, or Complete Papers</li>
          </ul>

          <p class="text-center">
            <a href="#registerModal" class="btn btn-primary disabled" role="button" data-bs-toggle="modal"
              data-bs-target="#registerModal">Register SOBIE 2024</a>
          </p>
        </div>
    </div>
  </div>
</div>

  <!-- <li class="list-group-item border-0">Check back then or join our <a href="#" class="card-link">mailing
      list</a></li> -->

    </div>      
    <div class="col-md-12 mt-2">
        <div class="card">
    <div class="card-body">
        <h2 class="card-title">Visit JOBIE</h2>
          <p class="card-text">
            To view <b>JOBIE</b>, go to <a href="https://www.buildingthepride.com/jobie/"
              target="jobie">https://www.buildingthepride.com/jobie/</a>.
          </p>
          <p class="card-text">
            SOBIE publishes its peer-reviewed academic journal, JOBIE (Journal of Business, Industry, and Economics),
            once a year. It is listed inCabell's directory. SOBIE also publishes an electronic student journal on our
            website.
            <br />
          </p>

    </div>
</div>
  




    </div>
</div>





<!-- footer -->
  <div class="container-fluid alert-secondary border-top bottom-0 rounded-3">

    <footer class="py-1 my-2">
      <ul class="nav justify-content-center border-top pb-3 mb-3">
        <!-- <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>-->
        <!-- <li class="nav-item">
          <a class="nav-link px-2 text-muted" href="#aboutModal" data-bs-toggle="modal" data-bs-target="#aboutModal"
            role="button">
            About SOBIE all links go here!
          </a>
        </li>
        <li class="nav-item"><a href="pages/past.html" class="nav-link px-2 text-muted">Past SOBIEs</a></li>
        <li class="nav-item">
          <a class="nav-link px-2 text-muted" href="#sandestinModal" data-bs-toggle="modal"
            data-bs-target="#sandestinModal" role="button">
            Sandestin Area
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-2 text-muted" href="#contactModal" data-bs-toggle="modal" data-bs-target="#contactModal"
            role="button">
            Contact SOBIE
          </a>
        </li> -->
        <li class="nav-item">

          <p class="text-center text-muted">
            <a href="https://sobieconference.org" class="nav-link px-2 text-muted">&copy; 2023 SOBIE,
              sobieconference.org</a>
          </p>
        </li>
      </ul>

    </footer>
  </div>
  <!-- footer -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
  <script src="scripts/sobie-script.js"></script> 
</body>

</html>