

    

  <!--  scheduleModal -->
  <div class="modal fade" id="scheduleModal" tabindex="-1" aria-labelledby="scheduleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Conference Schedule & Key Dates</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body ">
          <!-- schedule card  -->
          <h2 class="card-title">Conference Schedule</h2>
          <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->

          <p class="card-text">
            <i class="bi bi-alarm"></i>
            Sessions begin each day at 7:30am, allowing you time to enjoy <b>Sandentin</b>.
            <br>
            On Thursday, sessions begin at 9:30am after the plenary breakfast/keynote adderss.<br>
            The speaker for our <b>keynote address</b> will be announced at a later date.
          </p>
          <p class="card-text">
            <b>SOBIE</b> attempts to honor your preference for presentation. Depending on the volume of submissions for
            Tuesday, these requests may be moved to Wednesday. Usually, sessions are grouped by subject and limited to
            three papers to allow time for discussion and review.
          </p>
          <p class="card-text">
            <i class="bi bi-file-slides"></i>
            PowerPoint and web access are provided. Student research is presented separately.
          </p>
          <p class="card-text">
            <i class="bi bi-backpack"></i>
            Student research is presented separately.
          </p>
          <p class="card-text">
            SOBIE events, such as <b>SOBIE Golf</b>,
            <b>SOBIE Tennis</b>, and <b>SOBIE Beach Volleyball</b>
            are announced prior to the conference.
          </p>
          <!-- end schedule  -->

          <!-- schedule template -->

          <h2 class="card-title">Schedule Template</h2>

          <table class="table table-primary table-striped">
            <thead>
              <tr>
                <th scope="col" colspan="4" class="text-center">Wednesdays @ SOBIE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <th scope="row">Terrace 1</td>
                <th scope="row">Terrace 3</td>
                <th scope="row">Terrace 3</td>
              </tr>
              <tr>
                <th scope="col">7:30-8:45</th>
                <td><i>Session 1</i></td>
                <td><i>Session 2</i></td>
                <td><i>Session 3</i></td>
              </tr>
              <tr>
                <th scope="col">9:00-10:15</th>
                <td><i>Session 4</i></td>
                <td><i>Session 5</i></td>
                <td><i>Session 6</i></td>
              </tr>
              <tr>
                <th scope="col">10:30-11:45</th>
                <td><i>Session 7</i></td>
                <td><i>Session 8</i></td>
                <td><i>Session 9</i></td>
              </tr>
              <tr>
                <th scope="col">12:00-1:15</th>
                <td><i>Session 10</i></td>
                <td><i>Session 11</i></td>
                <td><i>Session 12</i></td>
              </tr>
            </tbody>
          </table>

          <table class="table table-info table-striped text-center">
            <thead>
              <tr>
                <th scope="col" colspan="4" class="text-center">Thursdays @ SOBIE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <th scope="row">Terrace 11</td>
                <th scope="row">Terrace 12</td>
                <th scope="row">Terrace 13</td>
              </tr>
              <tr>
                <th scope="col">7:30-8:45</th>
                <td colspan="3">
                  <i>Breakfast Bayview Room and Terrace
                    <br>
                    &
                    <br>
                    Keynote Address
                  </i>
                </td>
              </tr>
              <tr>
                <th scope="col">9:00-10:15</th>
                <td><i>Session 13</i></td>
                <td><i>Session 14</i></td>
                <td><i>Session 15</i></td>
              </tr>
              <tr>
                <th scope="col">10:30-11:45</th>
                <td><i>Session 16</i></td>
                <td><i>Session 17</i></td>
                <td><i>Session 18</i></td>
              </tr>
              <tr>
                <th scope="col">12:00-1:15</th>
                <td><i>Session 19</i></td>
                <td><i>Session 20</i></td>
                <td><i>Session 21</i></td>
              </tr>
              <tr>
                <th scope="col">1:30-2:45</th>
                <td><i>Session 22</i></td>
                <td><i>Session 23</i></td>
                <td><i>Session 24</i></td>
              </tr>
              <tr>
                <th scope="col">3:00-4:15</th>
                <td><i>Session 25</i></td>
                <td><i>Session 26</i></td>
                <td><i>Session 27</i></td>
              </tr>
              <tr>
                <th scope="col">4:30-5:45</th>
                <td><i>Session 28</i></td>
                <td><i>Session 29</i></td>
                <td><i>Session 30</i></td>
              </tr>
            </tbody>
          </table>

          <table class="table table-success table-striped">
            <thead>
              <tr>
                <th scope="col" colspan="4" class="text-center">Fridays @ SOBIE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <th scope="row">Terrace 1</td>
                <th scope="row">Terrace 3</td>
                <th scope="row">Terrace 3</td>
              </tr>
              <tr>
                <th scope="col">7:30-8:45</th>
                <td><i>Session 31</i></td>
                <td><i>Session 32</i></td>
                <td><i>Session 33</i></td>
              </tr>
              <tr>
                <th scope="col">9:00-10:15</th>
                <td><i>Session 34</i></td>
                <td><i>Session 35</i></td>
                <td><i>Session 36</i></td>
              </tr>
              <tr>
                <th scope="col">10:30-11:45</th>
                <td><i>Session 37</i></td>
                <td><i>Session 38</i></td>
                <td><i>Session 39</i></td>
              </tr>
              <tr>
                <th scope="col">12:00-1:15</th>
                <td><i>Session 40</i></td>
                <td><i>Session 41</i></td>
                <td><i>Session 42</i></td>
              </tr>
            </tbody>
          </table>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end schedule modal -->


  