<div class="card h-100">
  <div class="card-header text-center">
    <h5 class="card-title fw-bold">Conference Hotel & Venue</h5>
  </div>
  <div class="card-body">
    <div class="card-text">
      <ul class="list-unstyled">
        <li class="border-0">
          <h4><a href="https://www.sandestin.com" target="_blank" class="fs-5">Sandestin Golf & Beach Resort</a>
            <i class="bi bi-box-arrow-up-right fs-6"></i></h4>
        </li>
        <li class="border-0">
          Book your stay by <strong class="fs-5">March <del>1st</del> 10th<i class="bi bi-star"></i></strong> to get the SOBIE discount
        </li>
        <li class="border-0">
          <strong class="fs-5">SOBIE Group Code:</strong>
          <a href="https://www.sandestin.com/book-now?group=24Q3L3&checkin=04/09/2024&checkout=04/13/2024&rooms=1&adults=1#/room"
            target="_blank" class="btn-outline-primary">Book Online</a> or by Phone: <a href="tel:800-320-8115" target="_blank">800-320-8115</a>, (use code: 24V5SN)
        </li>
        <li class="border-0">Discounted rates are available for the weekends <strong class="fs-5">before & after</strong> the SOBIE conference.</li>
        <li class="border-0">Extend your stay and enjoy the Sandestin Area</li>
      </ul>
    </div> 

    <div class="card-text">
      <h4 class="card-subtitle text-muted">More Information</h4>
      <ul>
        <li class="list-group-item border-0">SOBIE group code available for booking</li>
        <li class="list-group-item border-0">Conference discount for weekend stays</li>
        <li class="list-group-item border-0">Book early for the best rates</li>
      </ul>
    </div>
  </div>
  <div class="card-footer text-center">
    <a href="#hotelTravelModal" class="btn btn-primary" role="button" data-bs-toggle="modal" data-bs-target="#hotelTravelModal">More Hotel & Travel...</a>
    <a href="#sandestinModal" class="btn btn-primary" role="button" data-bs-toggle="modal" data-bs-target="#sandestinModal">More Sandestin...</a>
  </div>
</div>
