<div class="alert alert-success alert-dismissible text-center fade show pt-5" role="alert">
<h4 class="alert-heading"></i>Welcome to the new SOBIE Website</h4>
  <p>Our new SOBIE Website is underway; however, it is still in the BETA testing stage.</p>
  <p>Please contact the <a href="mailto:bcumbie@una.edu">SOBIE Web Team</a> for inquiries or issues.</p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>