<!-- 
<div class="card" style="background-color: #DCDCDC";>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3 text-center my-auto mx-auto">
                <h5 id="sobieDates" class="m-2 mb-3 text-center"><em>next SOBIE dates TBA</em></h5>
            </div>  
            <div class="col-md-6 text-center my-3">
                
                <span class="fw-bold fs-2 text-center" style="letter-spacing: .5em">S路O路B路I路E</span><br>
                <span class="fs-3 text-center sobie-Script" style="letter-spacing: .2em">Annual Academic Conference</span><br>
                <span id="sobieYear" class="fw-bold text-center fs-2" style="letter-spacing: .5em"></span>
                <br>
            </div>
            <div class="col-md-3 my-auto mx-auto">
                <h5 class="text-center">The Sandestin Golf & Resort in San Destin, Florida</h5>
            </div>
        </div>
    </div>
</div> -->
<div class="card h-100">
    <div class="card-header text-center bg-dark text-white"> 
      <h5 class="card-title">Welcome to SOBIE</h5>
    </div>
    <div class="card-body">
      <p class="card-text lead text-center">
        Welcome to the Society of Business and Economics (SOBIE) website, your go-to source for resources, events, and networking in the fields of business and economics.
      </p>
      <p class="text-center">
        We aim to provide opportunities for students and professionals alike to engage in meaningful discussions, learn from industry experts, and develop the skills necessary to succeed in the business world.
      </p>
      <p class="text-center">
        Join us today to take advantage of all that SOBIE has to offer.
      </p>
    </div>
    <div class="card-footer text-center">
      <a href="/join" class="btn btn-info btn-sm">Join Us</a>
    </div>
  </div>
  