<!-- <div class="card">
    <div class="card-body">
        <h2 class="card-title">Student Research</h2>
        <div class="card-text">
            <ul>
                <li class="list-group-item border-0"></li>
                <li class="list-group-item border-0">Since its inception, <b>SOBIE</b> has made a commitment to advance
                    the academic
                    and career opportunities</li>
                <li class="list-group-item border-0">for both graduate and undergraduate students through research as an
                    extension
                    of the classroom.</li>

                <li class="list-group-item border-0">Inspire the next generation of scholars by encouraging your
                    students to attend <b>SOBIE</b>.</li>
                <li class="list-group-item border-0">Many students use this opportunity to present their senior theses.
                </li>

                <li class="list-group-item border-0"><b>SOBIE</b> waives the registration fee for students. However,
                    they should register for the
                    conference.</li>
                <li class="list-group-item border-0">Students are eligible to compete for awards recognizing their
                    research. For consideration, please
                    submit</li>
                <li class="list-group-item border-0">complete
                    student papers by <b>April 1</b> to <b>Doug Barrett</b>: <a
                        href="mailto:jdbarrett@una.edu">jdbarrett@una.edu</a>.</li> 
            </ul>
        </div>
    </div>
</div>

 -->


 <div class="card h-100">
    <div class="card-header text-center" style="background-color: #003366; color: white;">
      <h5 class="card-title fw-bold">Student Research</h5>
    </div>
    <div class="card-body">
      <div class="card-text">
        <ul>
          <li class="list-group-item border-0">
            <h4 class="card-subtitle text-muted">Since its inception, SOBIE has made a commitment to advance academic and career opportunities through research.</h4>
          </li>
          <li class="list-group-item border-0">Research is essential to the continuity and pursuit of knowledge. The seeds for economic growth, market innovation, and more effective business practices often come from ideas germinated through research.</li>
          <li class="list-group-item border-0">Submit Abstracts, Working, or Complete Papers</li>
        </ul>
      </div>
  
      <div class="card-text">
        <h4 class="card-subtitle text-muted">SOBIE for Students</h4>
        <ul>
          <li class="list-group-item border-0">Research Awards (Cash Prizes)</li>
          <li class="list-group-item border-0">Submission Deadline: April 1st</li>
        </ul>
      </div>
    </div>
    <div class="card-footer text-center">
      <a href="/research-submit" class="btn btn-primary" role="button">Submit Your Research</a>
    </div>
  </div>
  