<!-- <div class="card">
  <div class="card-body">
    <h2 class="card-title">Mission</h2>
    <div class="card-text">
      <ul>
        <li class="list-group-item border-0">The <b>SOBIE</b> mission is to encourage business faculty members to
          respond to current economic and market issues, and find practical solutions to the many problems business
          people and public policymakers confront.</li>
        <li class="list-group-item border-0"><b>SOBIE</b> invites business and economic research, as well as
          interdisciplinary research. Research is essential to the continuity and pursuit of knowledge. The seeds for
          economic growth, market innovation, more effective</li>
        <li class="list-group-item border-0">business practices, consumer trends, and greater profits often come from
          the ideas we germinate through our research.</li>
        <li class="list-group-item border-0"><b>SOBIE</b> was founded on the idea that peer-reviewed research at small
          colleges and regional universities was viable and needed to be recognized. Faculty, non-academic
          professionals, business people, doctoral candidates,</li>

        <li class="list-group-item border-0">graduate students, and undergraduate students are invited to participate.
        </li>
        </br>
        <li class="list-group-item border-0">Our journal, <a href="https://www.buildingthepride.com/jobie/"
            target="jobie">JOBIE</a> (Journal of Business, Industry, and Economics), is listed in Cabell's directory.
        </li>
      </ul>
    </div>
  </div>
</div>



  -->

  <div class="card h-100">
    <div class="card-header text-center">
      <h5 class="card-title fw-bold">Mission</h5> 
    </div>
    <div class="card-body">
      <ul class="list-unstyled">
        <li class="border-0">
          The <b>SOBIE</b> mission is to encourage business faculty members to respond to current economic and market issues, and find practical solutions to the many problems business people and public policymakers confront.
        </li>
        <li class="border-0">
          <b>SOBIE</b> invites business and economic research, as well as interdisciplinary research. Research is essential to the continuity and pursuit of knowledge. The seeds for economic growth, market innovation, more effective
        </li>
        <li class="border-0">
          business practices, consumer trends, and greater profits often come from the ideas we germinate through our research.
        </li>
        <li class="border-0">
          <b>SOBIE</b> was founded on the idea that peer-reviewed research at small colleges and regional universities was viable and needed to be recognized. Faculty, non-academic professionals, business people, doctoral candidates,
        </li>
        <li class="border-0">
          graduate students, and undergraduate students are invited to participate.
        </li>
        <li class="border-0">
          Our journal, <a href="https://www.buildingthepride.com/jobie/" target="jobie">JOBIE</a> (Journal of Business, Industry, and Economics), is listed in Cabell's directory.
        </li>
      </ul>
    </div>
    <div class="card-footer text-center">
     
    </div>
  </div>
  