<!-- <div class="card">
  <div class="card-body">
    <h2 class="card-title">Register for SOBIE</h2>
    <div class="card-text">
      <ul>
        <li class="list-group-item border-0">
          <h4 class="card-subtitle text-muted">Registrations opens Monday, December 11th, 2023</h4>
        </li>
        <li class="list-group-item border-0">Registration Fee is $325 (<strong class="fs-5">FREE</strong> for
    Students)</li>
        <li class="list-group-item border-0">Submit Abstracts, Working or Complete Papers </li>
      
      </ul>
    </div>
    <div class="card-text">
        <h4 class="card-subtitle text-muted">SOBIE for Students</h4>
        <div class="card-text">
          <ul>
            <li class="list-group-item border-0">No Conference Fee Conference (Registration Required)</li>
            <li class="list-group-item border-0">Student Research Awards (Cash Prizes)</li>
            <li class="list-group-item border-0">April 1st Research Submission Deadline</li>
            <li class="list-group-item border-0">Submit Abstracts, Working, or Complete Papers</li>
          </ul>

          <p class="text-center">
            <a href="/register" class="btn btn-primary" role="button">Register SOBIE 2024</a>
          </p>
        </div>
    </div>
  </div>
</div> -->



<div class="card h-100">
  <div class="card-header text-center" style="background-color: #003366; color: white;"> 
    <h5 class="card-title fw-bold">Register for SOBIE</h5>
  </div>
  <div class="card-body">
    <div class="card-text">
      <ul>
        <li class="list-group-item border-0">
          <h4 class="card-subtitle text-muted">Registrations opens Monday, December 11th, 2023</h4>
        </li>
        <li class="list-group-item border-0">Registration Fee is $325 (<strong class="fs-5">FREE</strong> for Students)</li>
        <li class="list-group-item border-0">Submit Abstracts, Working or Complete Papers</li>
      </ul>
    </div>

    <div class="card-text">
      <h4 class="card-subtitle text-muted">SOBIE for Students</h4>
      <ul>
        <li class="list-group-item border-0">No Conference Fee (Registration Required)</li>
        <li class="list-group-item border-0">Student Research Awards (Cash Prizes)</li>
        <li class="list-group-item border-0">April 1st Research Submission Deadline</li>
        <li class="list-group-item border-0">Submit Abstracts, Working, or Complete Papers</li>
      </ul>
    </div>
  </div>
  <div class="card-footer text-center">
    <a href="/register" class="btn btn-primary" role="button">Register for SOBIE 2024</a>
  </div>
</div>

  